---
import { Experiences } from "@config"
import ExperienceListElement from "@root/components/cv/ExperienceTimelineElement.astro"
---

<div class="time-line-container grid gap-4 mb-10">
     {Experiences.map((exp)=> (
          <ExperienceListElement 
               Item={exp}
          />
     ))}
</div>