---
import { Experiences } from "@config"
import ExperienceTimelineElement from "@components/cv/ExperienceTimelineElement.astro"
---

<div class="time-line-container grid gap-4 mb-10">
     {Experiences.map((exp)=> (
          <ExperienceTimelineElement 
               Item={exp}
          />
     ))}
</div>