---
import { Languages } from "@config"
import LanguagesListElement from "@components/cv/LanguagesListElement.astro"
---

<div class="stats shadow mb-12">
     {Languages.map((lang)=> (
          <LanguagesListElement 
               language={lang}
          />
     ))}
</div>
