---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimelineElement from "@components/cv/TimelineElement.astro";
import EducationTimeline from "@components/cv/EducationTimeline.astro";
import LanguagesList from "@components/cv/LanguagesList.astro";
import ExperienceTimeline from "@components/cv/ExperienceTimeline.astro"
import CertificationList from "@components/cv/CertificationTimeline.astro";
import SkillsList from "@components/cv/SkillsList.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    
    <p>I am a Software Engineer currently working in the Software Chapter Node 1 in Sweden, I have been mostly working on projects as a Frontend Developer and UX Designer.
       I get to work in a big developer team where we follow the agile ways of working using Azure DevOps as the main tool of work for planning, to manage source code, and collaborate.
       In the current project I have learned more about network topology to be able to deliver new features to the application. I have also taken more responsibility to improve code quality 
       and learned how to use scanning tools such as Fortify and Sonatype and lately implemented TDD to become a DevSecOps team.
       My goal is to become a Senior Front-end developer and keep working on automation of systems and learn more about AI integration.</p>
  </div>

  <div class="header">Education</div>
  <EducationTimeline />

  <div class="header">Languages</div>
  <LanguagesList />

  <div class="header">Experience</div>
 <ExperienceTimeline />

  <div class="header">Certifications</div>
  <CertificationList />

  <div class="header">Skills</div>
<SkillsList />
  
</BaseLayout>

<style>
  .header{
    @apply mb-5 text-3xl w-full font-bold;
  }
</style>