---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimelineElement from "@components/cv/TimelineElement.astro";
import EducationTimeline from "@components/cv/EducationTimeline.astro";
import LanguagesList from "@components/cv/LanguagesList.astro";
import ExperienceTimeline from "@components/cv/ExperienceTimeline.astro";
import CertificationList from "@components/cv/CertificationTimeline.astro";
import SkillsList from "@components/cv/SkillsList.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="header">Experience</div>
  <ExperienceTimeline />

  <div class="header">Education</div>
  <EducationTimeline />

  <div class="header">Certifications</div>
  <CertificationList />

  <div class="header">Languages</div>
  <LanguagesList />

  <div class="header">Skills</div>
  <SkillsList />
</BaseLayout>

<style>
  .header {
    @apply mb-5 text-3xl w-full font-bold;
  }
</style>
