---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import { Config } from '@root/config.ts'
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm {Config.MyName}</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        TODO put a description here
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href={`${Config.MyLinkedIn}`} target="_blank">Let's connect!</a>
      <a href={`${Config.MyGitHub}`} target="_blank" class="btn btn-outline ml-5">
        See my work link to gitub
      </a>
    </div>
  </div>
</BaseLayout>
